@import url('https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap');

@import './partials/setup';
@import './partials/variables';
@import './partials/header';
@import './partials/info-card';

html {
  font-size: 125%;
}

body {
  font-family: 'Montserrat', serif;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, 
h2, 
h3 {
  font-family: 'Maitree', serif;
}

h1 {
  color: $primaryGreen;
}