@import url("https://fonts.googleapis.com/css2?family=Maitree&family=Montserrat&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  padding-top: 60px;
}
header div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

input {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

form {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 80%;
}

input, button {
  font-size: 0.9rem;
  display: inline-block;
  padding: 12px;
}

button {
  font-family: "Montserrat", sans-serif;
  background-color: #5da9c2;
  border: none;
  padding: 12px 35px;
}

.random-pick {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.random-pick button {
  background-color: #d4f3e5;
  background-color: transparent;
  border: 2px solid #5da9c2;
  padding: 12px 40px;
  border-radius: 50px;
  transition: background-color 0.2s ease-in-out;
}
.random-pick button:hover {
  background-color: #84ddb5;
}

main .info-card__container {
  margin-top: 40px;
  margin-bottom: 80px;
}

.main-results {
  display: flex;
  justify-content: space-between;
}

.info-card {
  background-color: #5da9c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 8px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
  transition: 0.2s ease-in-out;
  transform: scale(1);
}
.info-card > * {
  width: 80%;
}
.info-card img {
  width: 60%;
}
.info-card:hover {
  transform: scale(1.1);
}

.compare-info {
  margin: 40px 0;
}

html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Maitree", serif;
  margin: 15px 0;
}

p {
  margin: 15px 0;
}

h2 ~ h3 {
  margin-top: 0px;
}

h1 {
  font-size: 3rem;
  color: #5da9c2;
}

a {
  color: #5da9c2;
  text-decoration: none;
}

footer {
  border-top: 1px solid grey;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  width: 100%;
}

.App {
  min-height: 100%;
  position: relative;
}/*# sourceMappingURL=styles.css.map */