@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;500;600&family=Montserrat:wght@400;600&display=swap');

@import './partials/setup';
@import './partials/variables';
@import './partials/header';
@import './partials/info-card';
@import './partials/results-page';
@import './partials/loader-icon';

html {
  font-size: 125%;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, 
h2, 
h3 {
  font-family: 'Maitree', serif;
  font-weight: 500;
  margin: 0px;
}

p {
  font-size: 0.9rem;
  margin: 15px 0;
}

h2 ~ h3 {
  margin-top: 0px;
}

h1 {
  font-size: 2.5rem;
  color: $navyBlue;
}

h2 {
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 35px;
  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
  }
}

a {
  color: $primaryBlue;
  text-decoration: none;
}

footer {
  border-top: 1px solid grey;
  position: absolute;
  bottom: 0;
  width: 90%;
  p {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
  }
}

// error alert
.swal-show {
  p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.6;
  }
  .swal2-actions {
    margin: 10px;
  }
}

@import './partials/media-queries'