header {
  margin: 40px 0;
}

input {
  font-family: 'Montserrat', sans-serif;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

form {
  margin-top: 25px;
  display: flex;
}

input, button {
  font-size: 0.9rem;
  display: inline-block;
  padding: 12px;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: $primaryBlue;
  border: none;
  padding: 12px 25px;
}