header {
  padding-top: 60px;
  div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

input {
  font-family: 'Montserrat', sans-serif;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  border:2px solid $navyBlue;
  margin-right: 10px;
  border-radius: 20px;
}

form {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 80%;
}

input, button {
  font-size: 0.9rem;
  display: inline-block;
  padding: 12px;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 20px;
  padding: 12px 40px;
}

input ~ button {
  color: white;
  background-color:  $navyBlue;
  padding: 12px 50px;
}

.random-pick {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  button {
    background-color: lighten($primaryGreen, 10%);
    background-color: transparent;
    border: 2px solid $primaryBlue;
    padding: 12px 40px;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: darken($primaryGreen, 10%);
    }
  }
}