main .info-card__container {
    margin-top: 40px;
    margin-bottom: 80px;
}

.main-results {
    display: flex;
    justify-content: space-between;
}

.info-card {
    background-color: $primaryBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 8px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    & > * {
        width: 80%;
    }
    img {
        width: 60%;  
    }
    &:hover {
        transform: scale(1.1);
    }
}