main .info-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 80px;
}

.info-card__results {
    display: flex;
    justify-content: space-between;
}

.info-card {
    background-color: $primaryBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
    transition: 0.2s ease-in-out;
    transform: scale(1);
    overflow: hidden;
    & > * {
        width: 90%;
    }
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
    }
    p {
        font-size: 0.8rem;
    }
    img {
        width: 40%;  
    }
    .info-card__overlay {
        p {
            display: none;
        }
    }
    // &:hover {
    //     transform: scale(1.1);
    //     background-color: #ededed;
    //     img {
    //         display: none;
    //     }
    //     .info-card__overlay {
    //         p {
    //             display: flex;
    //         }
    //     }
    // }
}

.info-card__save {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    button {
      background-color: lighten($primaryGreen, 10%);
      background-color: transparent;
      border: 2px solid $primaryBlue;
      padding: 12px 40px;
      border-radius: 50px;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: darken($primaryGreen, 10%);
      }
    }
}
